.header {
  font-weight: 900;
  font-size: 40px;
  margin: 10px;
  margin-bottom: 20px;
  color: red;
}

.todo-container {
  margin-top: 20px;
}

.input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.input-container input[type="date"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.btn-success,
.btn-danger {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  margin-top: 5px;
}

.todo-item {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  font-size: 18px;
}

.todo-item .btn-danger {
  width: 100%;
  margin-left: 5px;
}

.todo-item-name {
  font-weight: bold;
}

.todo-item-date {
  color: gray;
}
